body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: #35304a;

}


/*--PAGINA INDEX--*/

/*--BARRA DE MENU--*/

.nav-bar {
    background-color: #35304a;
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 150px;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-areas:
        "brand-logo redes";
}

.redes {
    grid-area: redes;
}

.brand-logo {
    grid-area: brand-logo;
}


.brand-logo img {
    width: 120px;
    height: 120px;
    border-radius: 150px;
}

.redes {
    display: flex;
    justify-content: flex-end;
}

.redes a {
    padding: 10px;
}

.redes img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


/*-- MENU----*/

#menu {
    padding: 250px;
    padding: 100px;
    background-color: #201b34;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "about shop contact cinematic"
        "about motorcycle motorcycle cinematic"
}

#menu .tile {
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

#menu .tile .back {
    font-size: 50px;
}

#menu .tile a {
    text-decoration: none;
}

#menu .tile .front {
    color: white;
    background-color: black;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

#menu .about-tile .front {
    background-image: url(imagenes/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu .contact-tile .front {
    background-image: url(imagenes/contact.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu .shop-tile .front {
    background-image: url(imagenes/shop.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu .motorcycle-tile .front {
    background-image: url(imagenes/fondo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu .cinematic-tile .front {
    background-image: url(imagenes/video1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu .tile .back {
    background-color: #35304a;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;

}

#menu .tile:hover .front {
    margin-top: -100%;
}

#menu .cinematic-tile:hover .front {
    margin-top: -200%;
}

#menu .about-tile:hover .front {
    margin-top: -200%;
}

#menu .motorcycle-tile:hover .front {
    margin-top: -50%;
}

.about-tile {
    grid-area: about;
}

.cinematic-tile {
    grid-area: cinematic;
}

.motorcycle-tile {
    grid-area: motorcycle;
}

.shop-tile {
    grid-area: shop;
}

/*------------------FOOTER---------------------------*/

.footer {
    display: grid;
    grid-template-columns: 200px 300px 500px 200px;
    grid-template-rows: 250px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
    grid-template-areas:
        "footer-logo footer-contact footer-maps footer-redes"
}

.footer h3 {
    align-items: baseline;
}

.footer-contact a {
    color: whitesmoke;
}

.footer-logo img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.redes-img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.redes-img img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 10px;
}

.footer-logo {
    grid-area: footer-logo;
}

.footer-contact {
    grid-area: footer-contact;
}

#gmaps .footer-redes {
    grid-area: footer-redes;
}

.footer-maps {
    text-align: center;
    grid-area: footer-maps;
}


/*---MEDIA QUERYS---*/


@media (max-width: 991px) {

    .nav-bar {
        padding: 0;
        margin: auto;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 60% 40%;
        justify-items: center;
        grid-template-areas:
            "brand-logo"
            "redes"
    }

    .brand-logo {
        align-content: center;
    }

    .brand-logo img {
        height: 90px;
        width: 90px;
    }

    .redes {
        grid-area: redes;
    }

    .brand-logo {
        grid-area: brand-logo;
    }

    .redes {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /*--------------------MENU----------------------------------*/
    #menu {
        padding: 10px;
        background-color: #201b34;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 200px);
        justify-content: center;
        align-content: stretch;
        grid-template-areas:
            "about shop "
            "about contact"
            "motorcycle cinematic"
    }

    #menu .tile .back {
        font-size: 25px;
    }

    #menu .cinematic-tile:hover .front {
        margin-top: -100%;
    }

    #menu .motorcycle-tile:hover .front {
        margin-top: -100%;
    }

    /*FOOTER*/

    .footer {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 2fr 1fr;
        justify-content: center;
        align-content: stretch;
        color: whitesmoke;
        grid-template-areas:
            "footer-logo footer-contact"
            "footer-maps  footer-maps"
            "footer-redes footer-redes"
    }

    .footer-logo {
        grid-area: footer-logo;
    }

    .footer-contact {
        grid-area: footer-contact;
    }

    .footer-maps {
        grid-area: footer-maps;
        text-align: center;
    }

    .footer-redes {
        grid-area: footer-redes;
    }

    .footer-redes {
        text-align: center;
    }

    .footer-logo img {
        height: 100px;
        width: 100px;
    }

    .footer-contact h3 {
        text-align: center;
    }

    .footer-contact p {
        font-size: 14px;
        text-align: center;
        margin: 20px;
    }

    .redes-img {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .footer-maps {
        justify-content: center;
    }

    .footer-maps iframe {
        width: 350px;
        height: 200px;
    }
}

/*---------------------INDEX FIN---------------------------*/


/*----------------CINEMATIC----------------------------*/

/*------BARRA DE NAVEGACION--------------------------------*/

.header__menu-bar {
    background-color: #35304a;
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 150px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "menu-bar__brand  menu-bar__menu  menu-bar__redes ";
}

.menu-bar__brand {
    grid-area: menu-bar__brand;
}

.menu-bar__redes {
    grid-area: menu-bar__redes;
}

.menu-bar__menu {
    grid-area: menu-bar__menu;
}

.menu-bar__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes__icon {
    padding: 5px;
}

.menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu__link {
    color: whitesmoke;
    padding: 10px;
}

.brand__logo {
    width: 120px;
    height: 120px;
    border-radius: 150px;
}

.redes__icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


/*---VIDEO DE FONDO---*/
.background--flex {
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: auto;
    text-align: center;
}

.background__video {
    position: absolute;
    top: 150;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video__play {
    min-width: 100%;
    min-height: 100%;
}

.background__overlay {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 150;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .60;
}

.background__content {
    z-index: 2;
}

.content__paragraph {
    font-size: 50px;
}

/*MEDIA QUERYS*/

/*NAVBAR*/

@media (max-width: 991px) {

    .header__menu-bar {
        background-color: #35304a;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: repeat(2, 100PX);
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "menu-bar__brand  menu-bar__redes "
            "menu-bar__menu  menu-bar__menu ";
    }

    .menu-bar__brand {
        grid-area: menu-bar__brand;
    }

    .menu-bar__redes {
        grid-area: menu-bar__redes;
    }

    .menu-bar__menu {
        grid-area: menu-bar__menu;
    }

    .brand__logo {
        width: 90px;
        height: 90px;
    }

    .redes__link {
        width: 50px;
        height: 50px;
    }

    .menu__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    /*BACKGROUND*/
    .content__paragraph {
        font-size: 20px;
    }

    .background__video {
        height: 55vh;
        width: 65vh;
    }

    .video__play {
        min-width: 55vh;
        max-height: 55vh;
    }

    .baground {
        padding: 0 3rem;
    }

    .background--flex {
        padding: 0;
        display: flex;
        height: 55vh;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        margin: auto;
        text-align: center;
    }

    .background__overlay {
        min-width: 55vh;
        min-height: 55vh;
        position: absolute;
        top: 150;
        left: 0;
        background: #303952;
        z-index: 1;
        opacity: .60;
    }

    /*VIDEOS*/
    .row {
        display: flex;
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

}


/*--SHOP inicio--*/



.navbar {
    position: fixed;
}

.d-flex img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.background {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.background__shop-fondo{
    width: 100%;
    height: auto;
}






@media (max-width: 991px) {
    .d-flex {
        flex-direction: column;
    }

}





/*--MOTORCYCLES BOOTSTRAP*/

/*--BARRA DE NAVEGACION*/

.bg-color {
    background-color: #35304a;
}


.navbar-brand img {
    width: 120px;
    height: 120px;
    border-radius: 150px;

}

.navbar-redes img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

navbar-witesmoke {
    color: whitesmoke;
}











/*-----------------MEDIA QUERYS----------------------------*/


@media (max-width: 991px) {

    .nav-bar {
        padding: 0;
        margin: auto;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 60% 40%;
        justify-items: center;
        grid-template-areas:
            "brand-logo"
            "redes"
    }

    .brand-logo {
        align-content: center;
    }

    .brand-logo img {
        height: 90px;
        width: 90px;
    }

    .redes {
        grid-area: redes;
    }

    .brand-logo {
        grid-area: brand-logo;
    }

    .redes {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /*--------------------MENU----------------------------------*/
    #menu {
        padding: 10px;
        background-color: #201b34;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 200px);
        justify-content: center;
        align-content: stretch;
        grid-template-areas:
            "about shop "
            "about contact"
            "motorcycle cinematic"
    }

    #menu .tile .back {
        font-size: 25px;
    }

    #menu .cinematic-tile:hover .front {
        margin-top: -100%;
    }

    #menu .motorcycle-tile:hover .front {
        margin-top: -100%;
    }

    /*FOOTER*/

    .footer {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 2fr 1fr;
        justify-content: center;
        align-content: stretch;
        color: whitesmoke;
        grid-template-areas:
            "footer-logo footer-contact"
            "footer-maps  footer-maps"
            "footer-redes footer-redes"
    }

    .footer-logo {
        grid-area: footer-logo;
    }

    .footer-contact {
        grid-area: footer-contact;
    }

    .footer-maps {
        grid-area: footer-maps;
        text-align: center;
    }

    .footer-redes {
        grid-area: footer-redes;
    }

    .footer-redes {
        text-align: center;
    }

    .footer-logo img {
        height: 100px;
        width: 100px;
    }

    .footer-contact h3 {
        text-align: center;
    }

    .footer-contact p {
        font-size: 14px;
        text-align: center;
        margin: 20px;
    }

    .redes-img {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .footer-maps {
        justify-content: center;
    }

    .footer-maps iframe {
        width: 350px;
        height: 200px;
    }
}